div.selectDiv {
    border: 1px solid transparent;
}

div.selectDiv.selected {
    border: 1px solid #5bc0de;
    -webkit-box-shadow: 0 0 10px #5bc0de;
    -moz-box-shadow: 0 0 10px #5bc0de;
    box-shadow: 0 0 10px #5bc0de;
}