div.resizeDiv .point {
    position: absolute;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #00b3ee;
    -moz-box-shadow: 0 0 10px #00b3ee;
    box-shadow: 0 0 10px #04c;
    background-color: #00b3ee;

}

div.resizeDiv .leftUp:hover {
    cursor: nw-resize;
}

div.resizeDiv .up:hover {
    cursor: n-resize;
}

div.resizeDiv .rightUp:hover {
    cursor: ne-resize;
}

div.resizeDiv .left:hover {
    cursor: w-resize;
}

div.resizeDiv .right:hover {
    cursor: e-resize;
}

div.resizeDiv .leftDown:hover {
    cursor: sw-resize;
}

div.resizeDiv .down:hover {
    cursor: s-resize;
}

div.resizeDiv .rightDown:hover {
    cursor: se-resize;
}