@CHARSET "UTF-8";

/*文本工具*/
.textDiv div {
    word-wrap: normal;
    word-break: normal;
    white-space: nowrap;
}

.textDiv .dragProxyDiv {
    display: none;
}

.textDiv .dragProxyDiv:hover {
    cursor: move;
}

.textDiv.selected .dragProxyDiv {
    display: block;
}

.dragProxyDiv  {
	text-align: center;
}

.drag-icon {
	color: #787878;
	border-radius: 100%;
	line-height: 24px;
}
/*文本工具 end*/